* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nav-bar {
  background-color: black;
  padding: 0.5%;
}
.right-nav {
  float: right;
}
.nav-bar-2 {
  clear: both;
  display: flex;
  padding: 0.7%;
  align-items: center;
  background-color: whitesmoke;
}
.left-nav {
  width: 60%;
}
.right-nav-2 {
  width: 40%;
  border-left: 1px solid grey;
  align-self: space-between;
}
.nav-bar-2 img {
  width: 100px;
}
.bottom-nav {
  clear: both;
  background-color: yellow;
}
#demo {
  font-size: 20px;
  color: red;
  font-weight: bold;
  display: inline;
}
.news {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
  border: 2px solid red;
  color: white;
}
.cryptography {
  background-image: linear-gradient(
      to bottom,
      rgba(128, 5, 5, 0.9),
      rgba(15, 14, 15, 0.1)
    ),
    url("images/coldwar.jpg");
  background-size: cover;
  background-position: center;
}
.annual-tech {
  display: grid;
  grid-auto-rows: 1fr;
  row-gap: 10px;
}
.annual-flagship {
  background-image: linear-gradient(purple, indigo);
}
.tech-intent {
  background-image: url("images/bitcoin.JPG");
  background-size: cover;
  background-position: center;
}
